{% extends 'base.html' %}

{% block content %}
    <div style="padding-top: 20px; padding-bottom: 10px" class="container">
        <div class="row">
            <div class="col align-self-center col-sm-3">
                <a href="/password/generate/5" class="btn btn-lg btn-secondary btn-block" role="button"
                   aria-disabled="true">Simple pass</a>
            </div>
            <div class="col align-self-center col-sm-3">
                <a href="/password/generate/10" class="btn btn-lg btn-secondary btn-block" role="button"
                   aria-disabled="true">Medium pass</a>
            </div>
            <div class="col align-self-center col-sm-3">
                <a href="/password/generate/15" class="btn btn-lg btn-secondary btn-block" role="button"
                   aria-disabled="true">Hard pass</a>
            </div>
            <div class="col align-self-center col-sm-3">
                <a href="/password/generate/2362" class="btn btn-lg btn-secondary btn-block" role="button"
                   aria-disabled="true">Extreme pass</a>
            </div>
        </div>
    </div>
    <div style="padding-top: 10px" class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Password for the destruction of the world. </h1>
                <p style="overflow-wrap: break-word" class="lead ">{{ password }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
